.app {
  margin: 20px;
  padding: 10px;
}

.toolbar {
  margin-bottom: 30px;
}

.toolbar > * {
  margin-right: 10px;
}

.btn-active {
  border: 2px solid blue;
  border-radius: 3px;
}

.container-list {
  height: 600px;
  overflow: auto;
  will-change: scroll-position;
  border: 1px solid grey;
  padding: 20px;
}

.my-list {
  border: 1px solid grey;
}

.cell {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 5px;
}
